*{margin: 0 ; padding: 0;}
a{color:#fff ;cursor: pointer;}
li{list-style-type: none;}
body{width: 100%;overflow-x: hidden;}
input,select{outline: none;}
img{display: block;cursor: pointer;}
button{border: none;display: block;cursor: pointer;outline: none;}
/*顶部悬浮*/
.global_header_general_promo{width: 100%;height: 39px;background: #000;position: fixed;z-index: 999;}
.xuanfu{width: 100%;height: 39px;background: #000 ;}
.txt1{font-size: 14px;color: #fff;left: 400px;width: 658px;position: fixed;top: 11px;font-family: SimHei;}
#sticky_header1{height: 330px;background: #070707;position: relative;display: none;}
.customer_service{width: 996px;height: 330px;margin: 0 auto;position: relative;}
.customer_service_chose_country{width: 695px;height: 230px;float: left;margin-top: 10px;margin-left: 50px;}
#flag{position: relative;top: 50px;right: -1000px;}
.sticky_header{width: 100%;height: 42px;background: #070707;}
.header-top{height: 42px;width: 936px;margin:0 auto;}
.header-top-middle{height: 41px;width: 876px;margin: 0 auto;border-bottom: 1px solid #353535;}
.customer_service_chose_country_h3{color: #ffffff;font-size: 30px;font-family: SimHei;}
.customer_service_countries{width: 695px;height: 162px;margin-top: 40px}
.customer_service_countries ul>li{padding-bottom: 7px;}
.ula,.ulb{width: 100px;height: 116px;display: block;margin-top: 25px;}
.ula li a{font-size: 12px;text-decoration-line: none;font-family: SimHei;padding-bottom: 7px;color: #ccc}
.customer_service_countries li{font-size: 12px;font-family: SimHei;color: #fff}
.customer_service_europe{width:224px ;height: 162px;float: left;}
.b{float: left;}
.ulb li a{font-size: 12px;text-decoration-line: none;font-family: SimHei;padding-bottom: 7px;color: #ccc}
.ulc{width: 100px;height: 116px;display: block;margin-top: 40px;}
.ulc li a{font-size: 12px;text-decoration-line: none;font-family: SimHei;padding-bottom: 7px;color: #ccc}
/*//登陆注册*/
#login_page{}
#login_page_mes{height: 400px;position: relative;display: none;background: #070707;}
.login_page_main{width: 996px;height: 400px;margin: 0 auto;}
.login_page_left{width: 348px;height: 250px;float: left;margin-top: 20px;}
.title1{display: block;padding-top: 60px;color: #FFFFFF;font: 30px simhei;}
.inp1,.inp2{width: 300px;height: 45px;display: block;}
p{display: block;margin-top: 10px;}
.inp3{display: block;width: 18px;height: 18px;border: 2px solid #C6C6C6;}
.a1{font-size: 16px;color: #C3C3C3;display: block;margin-left: 30px;margin-top: -20px;}
.a2{font-size: 14px;color: #666666;display:block;margin-left: 246px;margin-top: -18px;}
#btn2{display: block;width: 70px;height: 36px;background: #e6e5e5;border: none;margin-left: 236px;margin-top: 8px;color: #9F9F9F;cursor: pointer;}
#btn2:hover{background: #FFFFFF;color: #000000;}
.pic7{display: block;margin-left: 340px;margin-top: -196px;height: 124px;}
.login_page_middle{width: 430px	;height: 300px;margin-left: 360px;margin-top: -50px;border-right: 2px solid #393939;}
.pic8,.pic9,.pic10,.pic11{width: 100px;height: 25px;background: #000000;}
.pic8{margin-left: 35px;position: relative;top: 66px;}
.pic9{margin-left: 165px;margin-top: 42px;}
.pic10{margin-left: 35px;margin-top: 15px;}
.pic11{margin-left: 165px;margin-top: -24px}
.login_page_right{height: 250px;width: 200px;float: right;margin-top: -280px;margin-right: 0px;}
h6{margin-top: 20px;margin-left: 20px;color: #999999;margin-top: 50px;}
.login_page_right h5{margin-left: 20px;color: #FFFFFF;margin-top: 50px;}
#btn3{display: block;width: 100px;height: 30px;background: #e6e5e5;border: none;margin-left: 20px;margin-top: 60px;}
#btn3:hover{background: #FFFFFF;}
#btn3:hover a{color: #000;}
#btn3 a{color: #9F9F9F;text-decoration: none;}
#btn4{position: relative;top: -400px;right: -1400px;}
.header-top-left li a{font-family: SimHei;font-size: 14px;text-decoration-line:none; border-right: 1px solid #9f9f9f;float: left;margin-top: 10px;color: #c6c6c6}
.header-top-left #txt_left a {width: 63px;height: 18px;}
.header-top-left .txt_middle a {width: 98px;height: 18px;text-align: center;}
.header-top-left .txt-right a {width: 78px;height: 18px;text-align: center;border-right: none;}
.header-top-right li a{font-family: SimHei;font-size: 14px;text-decoration-line:none; float: right;margin-top: 10px;color: #ccc}
.header-top-right .txt-left a {width: 218px;height: 18px;text-align: center;}
.header-top-right #txt_middle a {width: 110px;height: 18px;text-align: center;border-right: 1px solid #666;}
.header-top-right .txt-right a {width: 125px;height: 18px;text-align: center;border-right: none;border-right: 1px solid #666;}
.pic2{display: block;margin-top: 10px;}
.pic3{display: block;margin-top: 15px;}
.header-top-middle ul li a:hover{color: #fff;}
.header-top-right  li a:hover{color: #fff;}
.txt-left li a{color: #fff;}
.txt-left li a:hover{background: #272727;}
.xinpin{display: block;margin-left: 0px;margin-top: 14px;color: #000;font-weight: 700;font-family: simhei,sans-serif;}
.ab{color: #000;font-weight: 700;}
.header{height: 85px;background: #070707;}
.content_inner_header_content{width: 876px;height: 85px;margin:0 auto;}
.pic{width: 250px;height: 43px;display: block;padding-top: 22px;}
.promotion{font-family: SimHei;font-size: 14px;color: #c6c6c6;width: 220px;height: 16px;display: block;margin-left: 265px;margin-top: -30px;}
.search_label{width: 260px;height: 40px;background: #fff;float: right;display: block;margin-top: -30px;border: 1px solid #c3c3c3}
.search_inp{width: 230px;height: 26px;font-size: 12px;display: block;margin-top: 10px;margin-left: 20px;border: 0;outline: none;}
.search_icon{display: block;margin-top: -26px;margin-left: 230px;cursor: pointer;}
.content{height: 48px;background: #fff;border-bottom: 5px solid #ededed}
.level_1_list{width: 876px; height: 48px;margin:0 auto;}
.level_1_list li{float:left;}
.level_1_list li a{text-decoration-line:none;line-height: 48px;display:block;margin-left:34px;font-size:16px;font-family:SimHei,sans-serif;color: #070707}
#list1,.list2,.list3{width:103px;height:48px;}
.icon1{display:block;margin-left:97px;margin-top:-26px;}
.list4,.list5,.list6,.list7{width:140px;height:48px;}
.icon2{display:block;margin-left:130px;margin-top:-26px;}
.level_1_list li a:hover{color:#d2b187}
.pic2{position: absolute;right: 500px;width: 18px;height: 18px;}
.pic3{position: absolute;right:340px}
/*隐藏菜单二*/
#caizhuang{height: 380px;background:#FFFFFF;position: absolute;width:100%;display: none;z-index: 600;}
.caizhuang_middle{width:876px ;height: 100%;background: #FFFFFF;margin: 0 320px;}
.caizhuang_middle_left .ab{display: block;}
.caizhuang_middle_left{width: 560px;height: 100%;}
.ulw li a{font-size: 14px;text-decoration-line: none;font-family: SimHei;padding-bottom: 7px;color: #666;margin-left: 58px;}
.ule{width: 100px;height: 116px;display: block;margin-top: 26px;margin-left: 140px}
.ule li a{font-size: 14px;text-decoration-line: none;font-family: SimHei;padding-bottom: 7px;color: #666}
.ulq,.ulw{width: 100px;height: 116px;display: block;margin-top: 25px;}
.ulq li a{font-size: 14px;text-decoration-line: none;font-family: SimHei;padding-bottom: 7px;color: #666;}
.b1 ,.b2,.b3,.b4,.b5{display: block;font-size: 16px;text-decoration: none;color: #000000;}
.b2{margin-left: 54px;}
.b3{margin-left: 140px;}
.b4{display: block;margin-top: 20px;}
.b5{display: block;margin-top: 37px;margin-left: 55px;}
.pic4{float:right;margin-top:-360px;margin-right:300px;height: 340px;}
.pic5{float: right;margin-top: -340px;height: 260px;margin-right: 40px;}
.btn1{float: right;width: 192px;height: 36px;font-size: 14px;font-family: simhei;color: #666666;position: relative;margin-top: -60px;margin-right: 33px;cursor: pointer;border: none;}
.btn1:hover{background: #FFFFFF;border: 1px solid #CCCCCC;}
.pic6{display: block;position: absolute;left: 45px;top:8px;}
.ab{margin-left: 2px;padding-top: 12px;}
#complimentary_shipping{height: 48px;width: 100%;}
#complimentary_shipping img{height: 100%;width: 100%;cursor: pointer;}
/*边界广告*/
.ad{width: 82px;height: 263px;background: #000000;position: fixed;top: 242px;right: 0px;border: 1px solid #CCCCCC;border-right: none;z-index: 600;}
.ab_top{width: 61px;height: 92px;margin: 0 auto;border-bottom: 1px solid #4d4d4d;}
.ab_middle{width: 61px;height: 78px;margin: 0 auto;border-bottom: 1px solid #4d4d4d;}
.ab_middle img{cursor: pointer;padding-top: :;px;}
#ab_bottom{width: 77px;height: 90px;margin: 0 auto;border-bottom: 1px solid #4d4d4d;}
.ab_top a{text-decoration: none;font-size: 16px;display: block;text-align: center;padding-top: 25px;font-family: simhei;}
.ab_middle img{width: 61px;height: 57px;}
#ab_bottom a{text-decoration: none;font-size: 16px;display: block;text-align: center;padding-top: 25px;font-family: simhei;}
#pic1{position: absolute;right: 85px;top: 115px;display: none;}
/*轮播图*/
/*主体*/
.pic_all{position: absolute;width: 100%;height:450px ;left: -220px;}
#contentcarousel_list{width: 100%;height: 450px;position: relative;}
.contentcarousel_asset_body{width: 100%;height: 450px;overflow: hidden;position: relative;}
#contentcarousel_list li{position: absolute;width: 100%;}
.pic_all.gp6-active{z-index: 2;}
/*下边原点*/
.gp6-banner-pagination{width: 80%;position: absolute;z-index: 2;top:92%;left:9%;text-align: center;}
.gp6-banner-pagination span{display: inline-block;height: 10px;width: 10px;border-radius: 50%;background: #CCCCCC; margin-left: 4px;}
.gp6-banner-pagination span.gp6-active{background: #000;}
.gp6-banner-pagination span:first-child{margin-left: 0; }
/*左右按钮*/
.gp6-button-prev,.gp6-button-next{height: 60px;width: 40px;background:#9F9F9F;position: absolute;z-index: 999;}
.btnList{width: 100%;height: 20px;position : absolute;bottom: 5%;text-align: center;z-index: 10;margin-left: -25px;top: 325px;}
.btnList span{display: inline-block;width: 10px;height: 10px;background: rgba(0,0,0,.3);border-radius: 50%;}
.btnList span.active{background: #fff;}	
/*明星产品*/
.moodboard_section{font-size: 108px;font-family: SimHei,sans-serif;text-align: center;margin: 0 auto;}
/*商品介绍第一行*/
#goods_first_list1,#goods_first_list3,#goods_first_list5{width: 1280px;margin: 0 auto;margin-top: 48px;overflow: hidden;}
.box1,.box2{width: 240px;height: 486px;float: left;border: 1px solid #E6E5E5;margin-left: 8px;margin-top: 8px;}
.box1{width: 493px;border: none;}
.box2{position: relative;}
.box1 img{width: 100%;height: 100%;}
.box2 img{width: 202px;height: 267px;margin: 0 auto;}
/*box1 box2的位置样式*/
.product_name {font-size: 14px;font-family: segoe ui light;line-height: 18px;text-align: center;display: block;color: #000;}
.product_subtitle{font-size: 14px;font-family: simhei;line-height: 18px;text-align: center;display: block;color: #000;padding: 6px 0;}
.start img{width: 93px;height: 15px;margin-top: 35px;}
.product_price{font-size: 16px;text-align: center;font-weight: normal;color: #666666;font-family: simhei,sans-serif; }
.btn2{width: 167px;height: 28px;margin-left: 40px;background: #000000;margin-top: 5px;border: 1px solid #000000;}
.buy{font-size: 14px;color: #FFFFFF;height: 28px;line-height: 28px;position: relative}
.buy .pic3:hover{transform: rotate(180deg);}
.btn2:hover{background: #FFFFFF;color: #000000;}
.btn2:hover a{color: #000000;}
.btn3:hover{background: #FFFFFF;color: #000000;}
.btn3:hover a{color: #000000;}
.btn2 img{width: 17px;height: 21px;margin-left: 30px;margin-top: -24px;}
.btn3{width: 167px;height: 28px;margin-left: 40px;background: #e6e5e5;margin-top: 8px;border: 1px solid #e6e5e5;}
.buy1{font-size: 14px;color: #666666;text-align: center;display: block;margin-left: 12px;line-height: 28px;height: 28px;}
.btn3 img{width: 17px;height: 21px;margin-left: 30px;margin-top: -24px;}
.txt_left_pic{margin-top: -10px;margin-left: 40px;transform: rotate(180deg);}
#txt_left:hover .txt_left_pic{transform: rotate(360deg);transition:all 0.5s;}
/*第二行*/
.goods_first_list2,#goods_first_list4,#goods_first_list6{width: 1280px;height: 485px;margin: 0 auto;}
/*新品*/
.moodboard_section_xp{width: 1280px;height: 132px;font-size: 108px;font-family: SimHei,sans-serif;text-align: center;float: left;margin-top: 20px;margin-bottom: 20px;}
/*探索发现*/
.moodboard_section_ts{width: 1280px;height: 132px;font-size: 108px;font-family: SimHei,sans-serif;text-align: center;float: left;margin-top: 20px;margin-bottom: 20px;}
/*客户服务*/
.footer_cont_wrap{height: 300px;margin-top: 104px;}
.content_footer{width: 996px;height: 300px;margin: 0 auto;clear: both;}
.content_left{width: 330px;height: 209px;margin-top: 55px;border-right: 1px solid #cccccc;margin-left: 28px;float: left;}
.content_footer img{width: 996px;}
h3{font-family: simhei;font-size: 14px;color: #000000;}
.phone_icon img{width: 26px;height: 17px;}
.phone_icon a{font-size: 14px;color: #000000;font-family: simhei;display: block;margin-left:34px;margin-top: -12px;}
.phone_icon{margin-top: 36px;width: 285px;height: 150px;}
.p1,.p2{color: #999999;font-size: 12px;}
.p2{margin-top: -4px;}
.p1{margin-top: -110px;}
.p3{font-family: 14px;color: #666666;}
.p31:hover{text-decoration: none;}
.p3 a{font-size: 12px;margin: 8px;color: #000000;}
.content_middle{width: 330px;height: 209px;float: left;margin-top: 55px;}
.field_emile{width: 245px;height: 50px;margin-top: 36px;margin-left: 15px;}
.field_emile span{font-family: simhei;font-size: 13px;color: #666666;display: block;line-height: 16px;}
.inp4{width: 240px;height: 24px;margin-top: 5px;}
#btn5{width: 74px;height: 28px;background: #CCCCCC;margin:18px 0 0;margin-left: 170px;cursor: pointer;color: #999999;font-family: simhei;}
#btn5:hover{background: #FFFFFF;color: #000000;font-family: simhei;border: 1px solid #C3C3C3;}
.txt2{display: block;width: 300px;height: 58px;font-size: 10px;}
.txt2 a{font-size: 13px;color: #666666;}
.h3a{display: block;margin-left: 15px;}
.content_right{width: 306px;height: 160px;margin-top: 55px;border-left: 1px solid #cccccc;float: left;}
/*官网独享*/
.content_title{height: 64px;background: #1a1a1a;}
.footer_social_nav{width: 931px;height: 64px;margin: 0 auto;}
.footer_social_nav_list{width: 190px;height: 100%;float: left;}
.footer_social_nav_list a{margin-left: 38px;font-size: 14px;font-family: simhei;}
.pic12{position: relative;top: 22px;}
.footer_social_nav_list1{width: 190px;height: 100%;float: left;margin-left: 56px;}
.footer_social_nav_list1 a{margin-left: 38px;font-size: 14px;font-family: simhei}
/*底部列表*/
.footer_asset{height:175px ;background: #000000;}
.footer_asset_list{width: 996px;height: 175px;margin:0 auto;}
.footer_nav_container{float: left;margin-top: 25px;width: 20%;}
.footer_nav_container a{text-decoration: none;font-family: simhei;font-size: 14px;color: #666666;}
.footer_nav_container a:hover{color: #FFFFFF;}
.footer_nav_container1 a:hover{color: #FFFFFF;}
.footer_nav_container1{float: left;margin-top: 25px;width: 20%;position: relative;left: 40px;}
.footer_nav_container1 a{text-decoration: none;font-family: simhei;font-size: 14px;color: #666666;}
.footer_nav_container2 a:hover{color: #FFFFFF;}
.footer_nav_container2{float: left;margin-top: 25px;width: 20%;position: relative;left: 40px;}
.footer_nav_container2 a{text-decoration: none;font-family: simhei;font-size: 14px;color: #666666;}
.footer_nav_container3 a:hover{color: #FFFFFF;}
.footer_nav_container3{float: left;margin-top: 25px;width: 20%;position: relative;left: 40px;}
.footer_nav_container3 a{text-decoration: none;font-family: simhei;font-size: 14px;color: #666666;}
.footer_nav_container4 a:hover{color: #FFFFFF;}
.footer_nav_container4{float: left;margin-top: 25px;width: 20%;position: relative;left: 40px;}
.footer_nav_container4 a{text-decoration: none;font-family: simhei;font-size: 14px;color: #666666;}
/*底部图标*/
.footer_img{height: 239px;background: #000000;}
.pic13{margin: 0 auto;padding-top: 35px;}
/*底部内容*/
.footer_asset_bottom{height: 44px;background: #000000;border-top: 1px solid #CCCCCC;}
.footer_asset_bottom_list{width: 996px;height: 44px;margin: 0 auto;}
.wenzi{font-family: simhei;font-size: 14px;color: #666666;line-height: 44px;}
.pic14{margin-top: -34px;margin-left: 180px;}
.wenzi2{font-family: simhei;font-size: 14px;color: #666666;position: relative;top: -18px;left: 200px;}
.pic15{margin-left: 412px;margin-top: -40px}
.wenzi3{font-family: simhei;font-size: 14px;color: #666666;position: relative;top: -23px;right: -437px;}
.wenzi4 li a{font-family: simhei;font-size: 14px;color: #666666}
.wenzi4 li a:hover{text-decoration: none;}
.wenzi4 li{float: left;padding-left: 10px;}
.wenzi4{margin-left: 650px;margin-top: -45px;}
.pic17{width: 88px;height: 17px;margin-top: 10px;}
.pic18{margin-top: 10px;}
.pic19{margin-left: 40px;margin-top: -15px;}
/*回到顶端*/
#backToTop{width: 82px;height: 72px;background: #000000;position: fixed;right: 100px;bottom: 100px;right: 0px;border: 1px solid #333333;border-right: none;cursor: pointer;display: none;}
.pic16{margin-top: 22px;margin-left: 31px;}
.backToTop_txt{font-family: simhei;font-size: 14px;color:#fff;margin-left: 26px;margin-top: 4px;}
/*蒙版遮罩*/
.ui_widget_overlay{position: fixed;z-index: 1000;background: #000000;opacity: .8;width: 100%;height: 100%;top: 0;left: 0;display: none;}
.ui_widget_overlay_bottom{position: fixed;z-index: 500;background: #000000;opacity: .8;width: 100%;height: 1500px;left: 0;top: 500px;display: none;}
/*商品详情页*/
.pdpMain{width: 996px;height: 650px;position: fixed;top: 50px;left: 270px;background: #FFFFFF;z-index: 1100;display: none;}
.pdpMain_content{width: 894px;height: 554px;margin: 0 auto;margin-top: 50px;}
.pdpMain_content_left{width: 270px;height: 554px;float: left;}
.product_name1{font-size: 24px;color: #000;line-height: 24px;margin-bottom: 8px;font-weight: 400;width: 280px;display: inline-block;margin-left: 0px;}
.product_subtitle1{font-size: 18px;line-height: 28px;font-family: simhei;display: inline-block;}
.bv_rating_empty{display: inline-block;margin-top: 5px;}
.ui_rating_label{display: inline-block;margin-left: 10px;font-size: 14px;color: #666;}
.ui-tabs-anchor{font-size: 14px;color: #000;display: block;text-decoration: none;cursor: default;margin-top: 30px;}
.tab_details{width: 270;height: 240px;margin-top: 15px;}
h4,h5{color:#FE007F;font-size: 14px;font-weight: normal;}
.tab_details_bottom_txt{font-size: 14px;color: #666;display: inline-block;margin-top: 30px;overflow: hidden;}
.tab_details_bottom_txt_a{color: #666;font-size: 14px;}
.pdpMain_content_middle{float: left;margin-left: 20px;}
.opacity-img{width: 340px;height: 420px;}
.pic24{margin-top: 50px;margin-left: -5px;}
.pdpMain_content_right{width: 242px;height: 554px;float: right;}
.color_swatches{width: 242px;height: 64px;}
.attribute{font:14px simhei;border-bottom: 1px solid #ccc;width: 242px;height: 21px;display: inline-block;color: #000;}
.pic21{width: 10px;height: 10px;display: block;margin-top: 15px;margin-left: 10px;}
.product_tab_shades_left img{width: 145px;height: 193px;margin-top: 0px;}
.color-select{width: 242px;height: 30px;margin-top:30px;font-family: simhei;}
.product_add_to_cart{width: 242px;height: 190px;border-top: 4px solid #000;}
.product_quantity_select{width: 47px;height: 17px;margin-left: -40px;position: relative;top: 20px;}
.quantity{color: #000;top: 22px;position: relative;top: 22px;}
.product_price1{color: #000;position: relative;top: 22px;left: 160px;}
.addtocartbutton{width:242px;height: 28px;background: #000000;color: #FFFFFF;cursor: pointer;margin-top: -120px;font-family: simhei;font-size: 14px;border: 1px solid #393939;}
.addtocartbutton:hover{background: #FFFFFF;color: #000000;font-family: simhei;font-size: 14px;}
.engraving_checkbox{width: 242px;height: 70px;}
.add_personal_engraving_cbx{width: 20px;height: 20px;border:4px solid #d7d7d7;background: #FFFFFF;margin-top: 10px;}
.add_personal_engraving_cbx_label2{font-size: 16px;color: #000000;font-weight: 700;margin-left: 10px;position: absolute;bottom: 165px}
.add_personal_engraving_cbx_label1{font-size: 16px;color: #000000;font-weight: 700;margin-left: 28px;position: absolute;bottom: 165px;display: none;}
.add_personal_engraving_cbx_msg{width: 202px;height: 30px;font-size: 14px;color: #999999;margin-left: 36px;margin-top: -30px;}
.product_actions_text{font-size: 14px;color: #666;margin-left: 18px;position: relative;top: 20px;}
.product_actions_text1{font-size: 14px;color: #666;margin-left: 10px;position: relative;text-decoration: none;top: 20px;}
.pic23{margin-left: 110px;margin-top: 2px;width: 24px;height: 16px;}
.pic22{position: relative;top: -14px;}
#pdpMain_mark{position: absolute;top: 20px;right: 20px;cursor: pointer;}
/*放大镜*/
.small{width: 340px;height: 420px;position: relative;}
.small .wrap{width: 100%;height: 100%;position: absolute;z-index: 999;}
.small .grayBox{display: none;width: 100px;height: 100px;background-image:url(../image/30.png)  ;background-size:340px 420px ;background-position:0 0 ;box-shadow: 0 0 10px rgba(0,0,0,0.5);position: absolute;}
.small .grayBox{left: 0;top: 0;}
.big{width: 340px;height: 420px;position: absolute;display: none;overflow: hidden;left: 650px;top:50px ;}
.small img{width: 100%;height: 100%;}
.big img{position: absolute;z-index: 100;}
/*详细商品信息遮罩层*/
.cover_up{width: 248px;height: 487px;position: absolute;top: 0px;background: #FFFFFF;opacity: .8;}
.cover_up_box{width: 127px;height: 29px;border-bottom: 1px solid #7f7b71;margin-left: 57px;margin-top:115px;border-top: 1px solid #7f7b71;}
.cover_up_text{display: block;margin-top: 5px;font-size: 14px;margin-left: 30px;cursor: pointer;}
/*购物车*/
.mini_cart{width: 600px;height:0px;position: fixed;background: #FFFFFF;top: 34px !important;right: 320px;z-index: 999;border: 1px solid #000;border-top: 1px solid #000000;overflow-y: auto;}
.mini_cart_content{width: 450px;height: 60px;margin: 0 auto;border-bottom: 5px solid #000;margin-bottom: 100px;}
.mini_cart_content_titleLeft,.mini_cart_content_titleMiddle,.mini_cart_content_titleRight{font: 14px simhei;line-height: 80px;font-weight: 800;}
.mini_cart_content_titleMiddle{margin-left: 220px;}
.mini_cart_content_titleRight{margin-left: 80px;}
/*购物车 物品列表*/
.mini_cart_content_goods{height: 120px;width: 450px;margin:  0 auto;border-bottom: 1px solid #ccc;}
.mini_cart_content_goods_pic{padding-top: 67px;width:50px;height: 60px;position: relative;top: -20px;}
.mini_cart_content_goods_title{width: 182px;height: 66px;float: right;margin-top: -80px;margin-right:180px ;}
.mini_cart_content_goods_title a{font: 14px simhei;color: #000;display: block;}
.mini_cart_content_goods_title_a{display:block;margin-top: 11px;color: #C3C3C3!important;}
.goods_border_inp{width: 40px;height:10px;text-align: center;line-height: 20px;position: relative;top: -40px;left:200px}
.goods_border_span1{position: relative;top: -40px;left:200px;cursor: pointer;font-weight: 700;}
.goods_border_span2{position: relative;top: -40px;left:200px;cursor: pointer;font-weight: 700}
.goods_border{-webkit-user-select: none;}/*谷歌浏览器或谷歌移动平台上访问网页不能复制*/
.mini_cart_content_goods_title_price{margin-left: 290px;margin-top: -60px;font: 16px simhei!important;font-weight: 700!important;width:120px;height: 20px;}
.goods_item1{width: 100%;position: absolute;top: 60px;}
/*购物车 底部*/

